html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.card {
  height: 450px;
  width: 340px;
  transition: all 0.3s ease;
}

.new-card {
  height: 340px;
  transition: all 0.3s ease;
}

.new-card>a {
  font-size: 50px;
  transition: transform 0.3s ease-in-out;
}

.new-card>a:hover {
  box-shadow: 0 0 34px black;
}

.list-container {
  height: 340px;
  overflow-y: auto;
  scrollbar-width: none;
}

.card:hover {
  box-shadow: 0 0 34px black;
}

a {
  text-decoration: none;
}

a.link:hover {
  color: purple;
}

.add-button-div {
  position: fixed;
}

input.link-name {
  width: 100px;
}

input.link-url {
  width: 100px;
}

input.link-edit-name {
  width: 100px;
}

input.link-edit-url {
  width: 100px;
}

.new-link-category {
  width: 300px;
  background-color: transparent;
  color: white;
  border: none;
  text-align: center;
}

.save-new-category {
  position: relative;
  top: 150px;
}

.add-link-form,
.edit-container {
  /* dono containers ki visibility hidden kardi , ab sirf hover karne par hi dikhayi dega */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease-in-out;
}

.link-add-input:hover .add-link-form {
  visibility: visible;
  opacity: 1;
}

.link-edit-input:hover .edit-container {
  visibility: visible;
  opacity: 1;
}

.edit-btn,
.delete-btn {
  --bs-btn-padding-x: 0;
  --bs-btn-padding-y: 0;
}

.btn-icon {
  border: none;
  background-color: transparent;
}

.btn-icon:hover {
  transform: scale(0.8);
}

.form-inline {
  display: inline;
}

button#delete-category-btn {
  margin-left: 60px;
}


#search-box {
  width: 250px;
  height: 36px;
}


#search-results {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 1000;
  list-style: none;
  margin-top: 5px;
  padding: 0;
  width: 250px;
  display: none;
}

#search-results li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

#search-results li a:hover {
  background-color: #f8f9fa;
}


.search-form {
  position: relative;
}


@media (min-width:840px) and (max-width:1700px) {
  .card {
    width: 340px;
  }
}

@media (min-width:410px) and (max-width:800px) {
  #search-box {
    width: 345px;
    margin-left: 20px;
    margin-right: 20px;
  }

  #search-results {
    top: 98px;
    margin-right: 15px;
    width: 345px;
  }

  #main-container {
    margin-top: 80px;
    padding-top: 50px;
  }
}